include LICENSE
include README.md
include algo_engine/apps/backtest/static/styles/*
include algo_engine/apps/backtest/templates/*
exclude algo_engine/base/c_market_data/c_*.c
exclude algo_engine/base/c_market_data_buffer_supported
exclude algo_engine/base/c_market_data_buffer_supported/*.pyi
exclude algo_engine/base/native_market_data/*