<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        table {
            width: 50%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2 style="text-align: center;">Backtest Dashboard Urls</h2>
<table>
    <tr>
        <th>Ticker</th>
        <th>Dashboard Urls</th>
    </tr>
    {% for key, value in data.items() %}
    <tr>
        <td>{{ key }}</td>
        <td><a href="{{ value }}">{{ value }}</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>